export("analysePlate", "as.all",
       "barploterrbar", "combineFrames",
       "csApply", "ddCt",
       "densCols", "eListWrite",
       "fitNorm2", "getPradaPar",
       "histStack", "plotNorm2",
       "plotPlate", "readCytoSet",
       "readFCS", "readSDM",
       "removeCensored", "setPradaPars",
       "smoothScatter", "thresholds")


importFrom("KernSmooth", "bkde2D")
importFrom("RColorBrewer", "brewer.pal")
importFrom("utils", "getFromNamespace", "assignInNamespace")
importFrom("MASS", "cov.rob") 
S3method("$", "cytoFrame")
exportClasses("cytoFrame", "cytoSet")
exportMethods("colnames", "colnames<-",
              "description", "description<-",
              "exprs", "exprs<-",
              "length", "[", "[[", "[[<-",
              "pData", "phenoData", "phenoData<-",
              "show")
