export("analysePlate", "as.all",
       "barploterrbar", "combineFrames",
       "csApply", "ddCt",
       "eListWrite",
       "fitNorm2", "getPradaPar",
       "plotNorm2",
       "plotPlate", "readCytoSet",
       "readFCS", "readSDM",
       "removeCensored", "setPradaPars",
       "thresholds", "gatePoints",
       "threePanelPlot", "gate.matrix",
       "gate.cytoFrame",
       "gate.cytoSet", "plot.matrixGate",
       "plot.cytoFrameGate", "plot.cytoSetGate")

importFrom("utils", "getFromNamespace", "assignInNamespace")
importFrom("MASS", "cov.rob")
importFrom("geneplotter", "densCols")
importFrom("geneplotter", "smoothScatter")

S3method("$", "cytoFrame")
exportClasses("cytoFrame", "cytoSet")
exportMethods("colnames", "colnames<-",
              "description", "description<-",
              "exprs", "exprs<-",
              "length", "[", "[[", "[[<-",
              "pData", "phenoData", "phenoData<-",
              "show", "plot")
